p{
    color: rgb(255, 0, 183);
    text-align: center;
}

.aboutus{
    a{
    text-decoration: none;
    color: chocolate;
    }
  list-style-type: none;
  
 border: 3px solid green;
 width: 100px;
 background-color: green;
 }

.compon{
    a{

    text-decoration: none;
    color: rgb(217, 0, 255);
    }
    list-style: none;
    border: 2px solid rosybrown;
     width: 102px;
    background-color: rosybrown;
}









