<p class="para">welcome</p>
<h1>Your Bio</h1>

<div class="conatiner">
<p class="contactuss">
    id:1,
    Name:vijay,
    age:22,
    city:kumbakonam,
     state:Tamilnadu
</p>
<p class="contactuss">
    id:2,
    Name:siva,
    age:20,
    city:dsm,
     state:Tamilnadu
</p>
<p class="contactuss">
    id:3,
    Name:vimal,
    age:22,
    city:kumbakonam,
     state:Tamilnadu
</p>
<p class="contactuss">
    id:4,
    Name:karthi,
    age:22,
    city:cuddalore,
     state:Tamilnadu
</p>
<p class="contactuss">
    id:5,
    Name:yc,
    age:22,
    city:salam,
     state:Tamilnadu
</p>
<p class="contactuss">
    id:6,
    Name:kamal,
    age:22,
    city:chennai,
     state:Tamilnadu
</p>
</div>